<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Safaribroswer">
  <parameter name="browser" value = "Safari" />
    <classes>
      <class name="com.ProjectSpecificLibrary.MultiBrowser"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Chromebroswer">
  <parameter name="browser" value = "Chrome" />
    <classes>
      <class name="com.ProjectSpecificLibrary.MultiBrowser"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
